<h1><center>Credit Risk Analysis using IBM Snap ML</center></h1>

# Download Input Dataset

In [1]:
# Many times better training time with snapML compared to sklearn with this full dataset
!wget -O credit_customer_history.csv -nc https://ibm.box.com/shared/static/lkvsjt6cch2fdtecobhjf54snmm6eagt.csv

# Download reduced dataset
#!wget -O credit_customer_history.csv https://ibm.box.com/shared/static/gucqudgok3o0awc0o1vfhbo2ix2k0wqa.csv

--2019-06-20 19:19:07--  https://ibm.box.com/shared/static/lkvsjt6cch2fdtecobhjf54snmm6eagt.csv
Resolving ibm.box.com (ibm.box.com)... 185.235.236.197
Connecting to ibm.box.com (ibm.box.com)|185.235.236.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/lkvsjt6cch2fdtecobhjf54snmm6eagt.csv [following]
--2019-06-20 19:19:07--  https://ibm.box.com/public/static/lkvsjt6cch2fdtecobhjf54snmm6eagt.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/lkvsjt6cch2fdtecobhjf54snmm6eagt.csv [following]
--2019-06-20 19:19:07--  https://ibm.ent.box.com/public/static/lkvsjt6cch2fdtecobhjf54snmm6eagt.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 185.235.236.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|185.235.236.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!drWtKeNuizO5_1Kx18JVRiFmn_tdJoeD6LMcj4gtNF41AbbzqGKveX5Bnm2I3xFel3Z_AogJNFFCDypbDtmtDYd1RvJCqxLRsBnFe1mqRBNShrAQN0BoFr-QOSbSY--SeDfDan0wQN6TvI_nGrvF4I2sFNqZos84PWQ0Tk7Og60gyQFPrT9dJZRWVl9T4O3lTpa9sHmtahtkNiR3eU_-wdpdmHSbacuYdTGPwTUHCxitAp4b2EQeevNpMPz3Upketre0r6ZhCR9M4H8tm2oPdsPsNzLHM5cJhLlAeE7lIdT6bdM7XomtXeeTWZG-TGU9g1xge50bFN28dVx-VRtXudOTVQPPjya97guutYob7GHHs04yR6hUTy6WQxFr2HkAszOgWltOB-THFg93CMKHqNNKxtpC01Ejx6mSBCw8zpR_k56wGHM-wEW80UyqUMrsnDbjuFM2q6xopi3sKwQi53hqYkAODs1zxrNpNRWbdbKpB04t22fxnb8-F84IwUVeDLOY_fL4xf-6hPmlww-4bRAWgAO5khEuSghwOZLqj9i2pInhiPv6YyuII1CsAaERmlOSm7grE6wlsQ0rSyGRnf-DGJCDu-9x3yf66gmT1-BcdhvuGX-P2FZ-oWQrpulGy3_ffqhPJIDV3cSOfCKVyzqu6sYcPRZ58tE73fIY8L8CtKhiTNccYjqCm9FBziQg2-9C564bqv9hKIBPmLkoDoJoY6WWme0zgldMKCiqCnB5BYou5ZDnX1l4TNoAaFpZcaQqRCK0-aCZX11vvzg_tpVRXFTtC_Y-V6H80W4HiYj6iXo-UOo22WQHfRTjbTBadxif5aijud57Ore0o88WGYMYK0ObkZJgqNdLi2h7dZ6JzBbmYOMg_qWHBf-wWUxkCfMBdjMJniU8caWPcGnsf4PfP23KJe91_bLrBZISIv_hjw7jvikTqCuu22hBYwmemnzQiVHT00pXD1MB1Zndpx_EEXudKILMGqnKtHZiJoQ21VM5jFBQ2AopeEdQCo8wGr-mTT8bBsrGpgBgwZPqA0Idx8oQaeH8OEJ5CWkKNG17dgVLR-qfMTO7j6HjF4KEIylD-svr4PnxP_TF-oVjho0PUJ19tWk49gmZmgRnx2Hk11ptDeMUuHCaO-9QcUUhMHuetQSgf8HImRQwgbxlhvB9jsQz-SWj9jWyamw3_gKtsiFHq6gChgBvzpK86e-SK4B_UceO4Ce8gkV2UMNhjbFbX8zlPiV8VagM7we5XJKchXlBAM3nwcMecf2DsiKC9wGs1_4KZ8dZIqXOJGvk6-eLBFbguV2-HZ2SOc2KeIx_4F0sMxEN2OyoNhpIyuAf3iQvqyWxbLSGZWO3zfrYc0TQEc7YvTwHrgfn34vu2Kc1oKLoNgnSWtQ0CjL9WiXoT14./download [following]
--2019-06-20 19:19:08--  https://public.boxcloud.com/d/1/b1!drWtKeNuizO5_1Kx18JVRiFmn_tdJoeD6LMcj4gtNF41AbbzqGKveX5Bnm2I3xFel3Z_AogJNFFCDypbDtmtDYd1RvJCqxLRsBnFe1mqRBNShrAQN0BoFr-QOSbSY--SeDfDan0wQN6TvI_nGrvF4I2sFNqZos84PWQ0Tk7Og60gyQFPrT9dJZRWVl9T4O3lTpa9sHmtahtkNiR3eU_-wdpdmHSbacuYdTGPwTUHCxitAp4b2EQeevNpMPz3Upketre0r6ZhCR9M4H8tm2oPdsPsNzLHM5cJhLlAeE7lIdT6bdM7XomtXeeTWZG-TGU9g1xge50bFN28dVx-VRtXudOTVQPPjya97guutYob7GHHs04yR6hUTy6WQxFr2HkAszOgWltOB-THFg93CMKHqNNKxtpC01Ejx6mSBCw8zpR_k56wGHM-wEW80UyqUMrsnDbjuFM2q6xopi3sKwQi53hqYkAODs1zxrNpNRWbdbKpB04t22fxnb8-F84IwUVeDLOY_fL4xf-6hPmlww-4bRAWgAO5khEuSghwOZLqj9i2pInhiPv6YyuII1CsAaERmlOSm7grE6wlsQ0rSyGRnf-DGJCDu-9x3yf66gmT1-BcdhvuGX-P2FZ-oWQrpulGy3_ffqhPJIDV3cSOfCKVyzqu6sYcPRZ58tE73fIY8L8CtKhiTNccYjqCm9FBziQg2-9C564bqv9hKIBPmLkoDoJoY6WWme0zgldMKCiqCnB5BYou5ZDnX1l4TNoAaFpZcaQqRCK0-aCZX11vvzg_tpVRXFTtC_Y-V6H80W4HiYj6iXo-UOo22WQHfRTjbTBadxif5aijud57Ore0o88WGYMYK0ObkZJgqNdLi2h7dZ6JzBbmYOMg_qWHBf-wWUxkCfMBdjMJniU8caWPcGnsf4PfP23KJe91_bLrBZISIv_hjw7jvikTqCuu22hBYwmemnzQiVHT00pXD1MB1Zndpx_EEXudKILMGqnKtHZiJoQ21VM5jFBQ2AopeEdQCo8wGr-mTT8bBsrGpgBgwZPqA0Idx8oQaeH8OEJ5CWkKNG17dgVLR-qfMTO7j6HjF4KEIylD-svr4PnxP_TF-oVjho0PUJ19tWk49gmZmgRnx2Hk11ptDeMUuHCaO-9QcUUhMHuetQSgf8HImRQwgbxlhvB9jsQz-SWj9jWyamw3_gKtsiFHq6gChgBvzpK86e-SK4B_UceO4Ce8gkV2UMNhjbFbX8zlPiV8VagM7we5XJKchXlBAM3nwcMecf2DsiKC9wGs1_4KZ8dZIqXOJGvk6-eLBFbguV2-HZ2SOc2KeIx_4F0sMxEN2OyoNhpIyuAf3iQvqyWxbLSGZWO3zfrYc0TQEc7YvTwHrgfn34vu2Kc1oKLoNgnSWtQ0CjL9WiXoT14./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1118832087 (1.0G) [text/csv]
Saving to: 'credit_customer_history.csv'

100%[====================================>] 1,118,832,087 20.9MB/s   in 52s

2019-06-20 19:20:01 (20.7 MB/s) - 'credit_customer_history.csv' saved [1118832087/1118832087]

# Imports

In [4]:
from __future__ import print_function
import numpy as np
import pandas as pd
pd.options.display.max_columns = 999
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, normalize
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, accuracy_score, roc_curve, roc_auc_score
from scipy.stats import chi2_contingency,ttest_ind
from sklearn.utils import shuffle
import time

import warnings
warnings.filterwarnings('ignore')

In [5]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

# Dataset Visualization

In [6]:
cust_pd_full = pd.read_csv('credit_customer_history.csv')

rows=1000000
cust_pd = cust_pd_full.head(rows)
print("There are " + str(len(cust_pd_full)) + " observations in the customer history dataset.")
print("There are " + str(len(cust_pd_full.columns)) + " variables in the dataset.")

cust_pd.head()

There are 10000000 observations in the customer history dataset.
There are 19 variables in the dataset.

,EMI_TENURE,CREDIT_HISTORY,TRANSACTION_CATEGORY,TRANSACTION_AMOUNT,ACCOUNT_TYPE,ACCOUNT_AGE,STATE,IS_URBAN,IS_STATE_BORDER,HAS_CO_APPLICANT,HAS_GUARANTOR,OWN_REAL_ESTATE,OTHER_INSTALMENT_PLAN,OWN_RESIDENCE,NUMBER_CREDITS,RFM_SCORE,OWN_CAR,SHIP_INTERNATIONAL,IS_DEFAULT
0,77,EXISTING CREDITS PAID BACK,EDUCATION,27630,UNKNOWN/NONE,above 7 YRS,CT,NO,YES,YES,YES,NO,YES,NO,0,4,NO,NO,No
1,119,EXISTING CREDITS PAID BACK,ELECTRONICS,31314,above 1000 K USD,4 to 7 YRS,CT,YES,YES,YES,YES,NO,NO,YES,0,3,YES,YES,No
2,84,EXISTING CREDITS PAID BACK,FURNITURE,27630,above 1000 K USD,4 to 7 YRS,PA,NO,NO,YES,YES,YES,NO,YES,0,3,YES,YES,No
3,119,DELAY IN PAST,FURNITURE,33156,above 1000 K USD,up to 1 YR,PA,YES,NO,YES,NO,NO,NO,YES,0,3,NO,NO,Yes
4,105,DELAY IN PAST,FURNITURE,23946,above 1000 K USD,up to 1 YR,CT,NO,YES,YES,YES,YES,YES,NO,0,3,YES,YES,No

# Data Preprocessing

In [7]:
# Split dataframe into Features (X) and Labels (y)
cust_pd_Y = cust_pd_full[['IS_DEFAULT']]
cust_pd_X = cust_pd_full.drop(['IS_DEFAULT'],axis=1)

print('cust_pd_X.shape=', cust_pd_X.shape, 'cust_pd_Y.shape=', cust_pd_Y.shape)

cust_pd_X.shape= (10000000, 18) cust_pd_Y.shape= (10000000, 1)

# Transform Labels (y)

In [8]:
cust_pd_Y.head()

  IS_DEFAULT
0         No
1         No
2         No
3        Yes
4         No

In [9]:
le = LabelEncoder()
cust_pd_Y['IS_DEFAULT'] = le.fit_transform(cust_pd_Y['IS_DEFAULT'])
cust_pd_Y.head()

   IS_DEFAULT
0           0
1           0
2           0
3           1
4           0

# Transform Features (X)

In [10]:
print('features X dataframe shape = ', cust_pd_X.shape)
cust_pd_X.head()

features X dataframe shape =  (10000000, 18)

,EMI_TENURE,CREDIT_HISTORY,TRANSACTION_CATEGORY,TRANSACTION_AMOUNT,ACCOUNT_TYPE,ACCOUNT_AGE,STATE,IS_URBAN,IS_STATE_BORDER,HAS_CO_APPLICANT,HAS_GUARANTOR,OWN_REAL_ESTATE,OTHER_INSTALMENT_PLAN,OWN_RESIDENCE,NUMBER_CREDITS,RFM_SCORE,OWN_CAR,SHIP_INTERNATIONAL
0,77,EXISTING CREDITS PAID BACK,EDUCATION,27630,UNKNOWN/NONE,above 7 YRS,CT,NO,YES,YES,YES,NO,YES,NO,0,4,NO,NO
1,119,EXISTING CREDITS PAID BACK,ELECTRONICS,31314,above 1000 K USD,4 to 7 YRS,CT,YES,YES,YES,YES,NO,NO,YES,0,3,YES,YES
2,84,EXISTING CREDITS PAID BACK,FURNITURE,27630,above 1000 K USD,4 to 7 YRS,PA,NO,NO,YES,YES,YES,NO,YES,0,3,YES,YES
3,119,DELAY IN PAST,FURNITURE,33156,above 1000 K USD,up to 1 YR,PA,YES,NO,YES,NO,NO,NO,YES,0,3,NO,NO
4,105,DELAY IN PAST,FURNITURE,23946,above 1000 K USD,up to 1 YR,CT,NO,YES,YES,YES,YES,YES,NO,0,3,YES,YES

# One-Hot Encoding of Categorical Features

In [11]:
categoricalColumns = ['CREDIT_HISTORY', 'TRANSACTION_CATEGORY', 'ACCOUNT_TYPE', 'ACCOUNT_AGE',
                      'STATE', 'IS_URBAN', 'IS_STATE_BORDER', 'HAS_CO_APPLICANT', 'HAS_GUARANTOR',
                      'OWN_REAL_ESTATE', 'OTHER_INSTALMENT_PLAN',
                      'OWN_RESIDENCE', 'RFM_SCORE', 'OWN_CAR', 'SHIP_INTERNATIONAL']
cust_pd_X = pd.get_dummies(cust_pd_X, columns=categoricalColumns)
cust_pd_X.head()

print('features X dataframe shape = ', cust_pd_X.shape)

features X dataframe shape =  (10000000, 51)

# Normalize Features

In [12]:
min_max_scaler = MinMaxScaler()
features = min_max_scaler.fit_transform(cust_pd_X)
features = normalize(features, axis=1, norm='l1')

cust_pd_X = pd.DataFrame(features,columns=cust_pd_X.columns)
cust_pd_X.head()

,EMI_TENURE,TRANSACTION_AMOUNT,NUMBER_CREDITS,CREDIT_HISTORY_ALL CREDITS PAID BACK,CREDIT_HISTORY_CRITICAL ACCOUNT,CREDIT_HISTORY_DELAY IN PAST,CREDIT_HISTORY_EXISTING CREDITS PAID BACK,CREDIT_HISTORY_NONE TAKEN,TRANSACTION_CATEGORY_EDUCATION,TRANSACTION_CATEGORY_ELECTRONICS,TRANSACTION_CATEGORY_FURNITURE,TRANSACTION_CATEGORY_NEW CAR,TRANSACTION_CATEGORY_OTHER,TRANSACTION_CATEGORY_RETRAINING,TRANSACTION_CATEGORY_USED CAR,ACCOUNT_TYPE_100 to 500 K USD,ACCOUNT_TYPE_500 to 1000 K USD,ACCOUNT_TYPE_UNKNOWN/NONE,ACCOUNT_TYPE_above 1000 K USD,ACCOUNT_TYPE_up to 100 K USD,ACCOUNT_AGE_1 to 4 YRS,ACCOUNT_AGE_4 to 7 YRS,ACCOUNT_AGE_TBD,ACCOUNT_AGE_above 7 YRS,ACCOUNT_AGE_up to 1 YR,STATE_CT,STATE_NJ,STATE_NY,STATE_PA,IS_URBAN_NO,IS_URBAN_YES,IS_STATE_BORDER_NO,IS_STATE_BORDER_YES,HAS_CO_APPLICANT_NO,HAS_CO_APPLICANT_YES,HAS_GUARANTOR_NO,HAS_GUARANTOR_YES,OWN_REAL_ESTATE_NO,OWN_REAL_ESTATE_YES,OTHER_INSTALMENT_PLAN_NO,OTHER_INSTALMENT_PLAN_YES,OWN_RESIDENCE_NO,OWN_RESIDENCE_YES,RFM_SCORE_1,RFM_SCORE_2,RFM_SCORE_3,RFM_SCORE_4,OWN_CAR_NO,OWN_CAR_YES,SHIP_INTERNATIONAL_NO,SHIP_INTERNATIONAL_YES
0,0.027542,0.033533,0.0,0.0,0.0,0.000000,0.062595,0.0,0.062595,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.062595,0.000000,0.0,0.0,0.000000,0.0,0.062595,0.000000,0.062595,0.0,0.0,0.000000,0.062595,0.000000,0.000000,0.062595,0.0,0.062595,0.000000,0.062595,0.062595,0.000000,0.000000,0.062595,0.062595,0.000000,0.0,0.0,0.000000,0.062595,0.062595,0.000000,0.062595,0.000000
1,0.041751,0.037277,0.0,0.0,0.0,0.000000,0.061398,0.0,0.000000,0.061398,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.061398,0.0,0.0,0.061398,0.0,0.000000,0.000000,0.061398,0.0,0.0,0.000000,0.000000,0.061398,0.000000,0.061398,0.0,0.061398,0.000000,0.061398,0.061398,0.000000,0.061398,0.000000,0.000000,0.061398,0.0,0.0,0.061398,0.000000,0.000000,0.061398,0.000000,0.061398
2,0.029971,0.033449,0.0,0.0,0.0,0.000000,0.062439,0.0,0.000000,0.000000,0.062439,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.062439,0.0,0.0,0.062439,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.062439,0.062439,0.000000,0.062439,0.000000,0.0,0.062439,0.000000,0.062439,0.000000,0.062439,0.062439,0.000000,0.000000,0.062439,0.0,0.0,0.062439,0.000000,0.000000,0.062439,0.000000,0.062439
3,0.041659,0.039384,0.0,0.0,0.0,0.061264,0.000000,0.0,0.000000,0.000000,0.061264,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.061264,0.0,0.0,0.000000,0.0,0.000000,0.061264,0.000000,0.0,0.0,0.061264,0.000000,0.061264,0.061264,0.000000,0.0,0.061264,0.061264,0.000000,0.061264,0.000000,0.061264,0.000000,0.000000,0.061264,0.0,0.0,0.061264,0.000000,0.061264,0.000000,0.061264,0.000000
4,0.037350,0.028902,0.0,0.0,0.0,0.062250,0.000000,0.0,0.000000,0.000000,0.062250,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.062250,0.0,0.0,0.000000,0.0,0.000000,0.062250,0.062250,0.0,0.0,0.000000,0.062250,0.000000,0.000000,0.062250,0.0,0.062250,0.000000,0.062250,0.000000,0.062250,0.000000,0.062250,0.062250,0.000000,0.0,0.0,0.062250,0.000000,0.000000,0.062250,0.000000,0.062250

# Generate Train and Test Datasets

In [13]:
labels    = cust_pd_Y.values
features  = cust_pd_X.values

labels = np.reshape(labels,(-1,1))

X_train,X_test,y_train,y_test = \
       train_test_split(features, labels, test_size=0.3, random_state=42, stratify=labels)
                    
print('X_train.shape=', X_train.shape, 'Y_train.shape=', y_train.shape)
print('X_test.shape=', X_test.shape, 'Y_test.shape=', y_test.shape)

X_train.shape= (7000000, 51) Y_train.shape= (7000000, 1)
X_test.shape= (3000000, 51) Y_test.shape= (3000000, 1)

# Train a Random Forest Model using Scikit-Learn

In [23]:
# Import the Random Forest model from the pai4sk package
from pai4sk.ensemble import RandomForestClassifier
sklearn_rf = RandomForestClassifier(n_estimators=40, n_jobs=40, random_state=0)

In [24]:
# Training a random forest model using scikit-learn
t0 = time.time()
sklearn_rf.fit(X_train, y_train)
sklearn_time = time.time() - t0
print("[sklearn] Training time (s):  {0:.5f}".format(sklearn_time))

# Evaluate accuracy on test set
sklearn_pred = sklearn_rf.predict(X_test)
print('[sklearn] Accuracy score : ', accuracy_score(y_test, sklearn_pred))

[sklearn] Training time (s):  229.68069
[sklearn] Accuracy score :  0.9803003333333333

# Train a Random Forest Model using Snap ML

In [25]:
# Import the Random Forest model directly from the SnapML package
from pai4sk import RandomForestClassifier
snapml_rf = RandomForestClassifier(n_estimators=40, n_jobs=40, random_state=0)

In [28]:
# Training a random forest model using Snap ML
t0 = time.time()
snapml_rf.fit(X_train, y_train)
snapml_time = time.time()-t0
print("[Snap ML] Training time (s):  {0:.5f}".format(snapml_time))

# Evaluate accuracy on test set
snapml_pred = snapml_rf.predict(X_test, num_threads=40)
print('[Snap ML] Accuracy score : {0:.6f}'.format(accuracy_score(y_test, snapml_pred)))
print('[Random Forest] Snap ML vs. sklearn speedup : {0:.2f}x '.format(sklearn_time/snapml_time))

[Snap ML] Training time (s):  127.01246
[Snap ML] Accuracy score : 0.981195
[Random Forest] Snap ML vs. sklearn speedup : 1.81x

&copy; Copyright IBM Corporation 2019